body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
  font-weight: normal;
}

h1 {
  line-height: 1.1;
  text-align: center;
  color: white;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  background: purple;
  float: left;
  margin: 1.66%;
  border-radius: 50%;
  transition: backgroundColor 0.6s;
  --webkit-transition: backgroundColor 0.6s;
  --moz-transition: backgroundColor 0.6s;
}

#container {
  max-width: 600px;
  margin: 20px auto;

}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  --webkit-transition: all 0.3s;
  --moz-transition: all 0.3s;
}

button:hover {
  color: white;
  background: steelblue;
}

.selected {
  background: blue;
}

#colorDisplay {
  font-size: 200%;
}

#message {
  display: inline-block;
  width: 20%;
}
